/Tests/Application/var/*
/Tests/Application/config/reference.php
/vendor/
.env.local
.env.*.local
/composer.phar
/composer.lock
.php_cs.cache
.php-cs-fixer.cache
*~

# IDEs
.idea/*
*.iml

# phpunit
phpunit.xml
.phpunit.result.cache
