includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    paths:
        - .
    parallel:
        processTimeout: 300.0 
    level: max
    excludePaths:
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/Tests/Application/*
    symfony:
        container_xml_path: %rootDir%/../../../Tests/Application/var/cache/admin/dev/Sulu_Bundle_ThemeBundle_Tests_Application_KernelDevDebugContainer.xml
        console_application_loader: Tests/phpstan/console-application.php
        constantHassers: false
    doctrine:
        objectManagerLoader: Tests/phpstan/object-manager.php
